#card {
  margin: 20px;
  width: 100%;
  height: 200px;
  list-style: none;
}

div {
  text-align: center;
  font-size: 30px;
}

div h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

#score {
  margin-top: 0;
  margin-bottom: 0;
}

#timer {
  margin-top: 0;
  margin-bottom: 0;
}

#card li {
  margin: 10px;
  width: 150px;
  height: 200px;
  float: left;
  position: relative;
}
#card li img {
  position: absolute;
}

#card li.off,
#card li.lock {
  pointer-events: none;
}
